@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --font-primary: "Open Sans";
  --font-secondary: "Merriweather";
  font-family: var(--font-primary);
  color: #222;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s ease-out forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  font-family: var(--font-secondary);
  position: relative;
  z-index: 1;
}

.title::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: #FF70A6;
  border-radius: 0.2rem;
  top: 15px;
  left: 0;
  z-index: -1;
}

.title:hover::before {
  transition: 0.25s;
  background: #FFD670;
}

.title2 {
  font-family: var(--font-secondary);
  position: relative;
  z-index: 1;
}

.title2::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: #FF70A6;
  border-radius: 0.2rem;
  top: 10px;
  left: 0;
  z-index: -1;
}

.title2:hover::before {
  transition: 0.25s;
  background: #FFD670;
}